/* 应用于所有正文中的段落，排除代码块、列表、标题 */
.cm-content>.cm-line:not(   
    .HyperMD-codeblock,
    .HyperMD-list-line,
    .HyperMD-header) {
        /* 段前、后间距（内边距）。二者最好相等，否则会导致块引用左边的条和文字对不齐 */
        padding-top: 0.25em; 
        padding-bottom: 0.25em;
}

/* 阅读模式下单换行符进行换行时的段间距，会影响使用<br>手动进行多行间隔。详见 https://www.zhihu.com/question/431396342/answer/2799744134 */
/* 在块引用中也生效 */
.markdown-preview-section>div>p>br,
.markdown-preview-section>div.el-blockquote>blockquote>p>br {
    content: "";
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;